{% extends "header.html" %} {% block content %} {% load crispy_forms_tags %}
<!--Login-->
<div class="leaderboard-container">
  <main>
    <div id="header">
      <h1>Ranking</h1>
    </div>
    <div id="leaderboard">
      <table>
        {% for sublist in data %}
        <tr>
          <td class="number">{{forloop.counter}}</td>
          <td class="name">{{sublist.0}}</td>
          <td class="points">
            {{sublist.1}}
            {% if forloop.counter == 1 %}
            <img class="gold-medal"
              src="https://github.com/malunaridev/Challenges-iCodeThis/blob/master/4-leaderboard/assets/gold-medal.png?raw=true"
              alt="gold medal" />
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </main>
</div>

{% endblock %}