{% extends "header.html" %} {% block content %} {% load crispy_forms_tags %}
<!--Login-->
<div class="leaderboard-container">
    <main>
        <div id="header">
            <h1>Ranking</h1>
        </div>
        <div id="leaderboard">
            <div class="ribbon"></div>
            <table>
                {% for sublist in data %}
                <tr>
                    <td class="number">{{forloop.counter}}</td>
                    <td class="name">{{sublist.0}}</td>
                    <td class="points">
                        {{sublist.1}}
                        {% if forloop.counter == 1 %}
                        <img class="gold-medal"
                            src="https://github.com/malunaridev/Challenges-iCodeThis/blob/master/4-leaderboard/assets/gold-medal.png?raw=true"
                            alt="gold medal" />
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                <!-- {% for userData in data %}
            {% for data in userData %}
            <tr>
                <td class="number">{{forloop.counter}}</td>
                <td class="name">{{data}}</td>
                <td class="points">258.242</td>
              </tr>
            {% endfor %}
        {% endfor %} -->
                <!-- <tr>
          <td class="number">1</td>
          <td class="name">Lee Taeyong</td>
          <td class="points">
            258.244
            <img
              class="gold-medal"
              src="https://github.com/malunaridev/Challenges-iCodeThis/blob/master/4-leaderboard/assets/gold-medal.png?raw=true"
              alt="gold medal"
            />
          </td>
        </tr>
        <tr>
          <td class="number">2</td>
          <td class="name">Mark Lee</td>
          <td class="points">258.242</td>
        </tr>
        <tr>
          <td class="number">3</td>
          <td class="name">Xiao Dejun</td>
          <td class="points">258.223</td>
        </tr>
        <tr>
          <td class="number">4</td>
          <td class="name">Qian Kun</td>
          <td class="points">258.212</td>
        </tr>
        <tr>
          <td class="number">5</td>
          <td class="name">Johnny Suh</td>
          <td class="points">258.208</td>
        </tr> -->
            </table>
        </div>
    </main>
</div>

{% endblock %}