{% extends "header.html" %}

{% block content %}      
{% load crispy_forms_tags %}     
<!--Login--> 
<div class = "login-page">
<div class="form">
  <form method="POST">
    {% csrf_token %}
    {% for field in register_form %}
      <div>
        <label for="{{ field.name}}">{{ field.label}}</label>{{ field }}
     </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Already have an account? <a href="/login">Login Instead</a>.</p>
</div>
</div>

{% endblock %}