{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ELITƎ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'interactivepuzzle:index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'interactivepuzzle:leaderboard' %}">Leaderboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'interactivepuzzle:analytics' %}">Score Board</a>
      </li>
    </ul>
    {% if session.startTime %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div id="timer"></div>
      </li>
    </ul>
    {% endif %}
    <form method="POST" action="{% url 'interactivepuzzle:logout' %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Logout</button>
    </form>
    {% else %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'interactivepuzzle:index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'interactivepuzzle:leaderboard' %}">Leaderboard</a>
      </li>
    </ul>
    <form method="POST" action="{% url 'interactivepuzzle:login' %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-success">Login</button>
    </form>
    {% endif %}
  </div>
</nav>