{% extends "header.html" %} {% block content %} {% load crispy_forms_tags %}
{% load static %}
<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-base.min.js"></script>
<style>
    .a_accuracy,
    .a_count,
    .a_timename,
    .a_status,
    .a_score {
        text-align: center;
    }

    #container {
        width: 100%;
        height: 50vh;
    }

    @media screen and (max-width:950px) {
        .a_timename {
            display: none;
        }

        h1 {
            font-size: 1.5rem;
        }
    }

    @media screen and (max-width:950px) {
        .a_accuracy {
            display: none;
        }
    }
</style>
<div class="leaderboard-container">
    {% if user.is_authenticated %}
    <main>
        <div id="header">
            <h1>Score Board</h1>
        </div>
        <div id="leaderboard">
            <table>
                <tr>
                    <td class="a_count">Que No.</td>
                    <td class="a_score">Score</td>
                    <td class="a_timename">Time (min)</td>
                    <td class="a_accuracy">Accuracy (%)</td>
                    <td class="a_status">Status</td>
                </tr>
                {% for sublist in data %}
                <tr>
                    <td class="a_count">{{forloop.counter}}</td>
                    <td class="a_score">{{sublist.0}}</td>
                    <td class="a_timename">{{sublist.2}}</td>
                    <td class="a_accuracy">
                        {{sublist.3}}
                    </td>
                    <td class="a_status">
                        {% if sublist.4 == 'Accepted' %}
                        AC
                        {% elif sublist.4 == 'Wrong Answer' %}
                        WA
                        {% else %}
                        NA
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
    {% endif %}
</div>
<div class="leaderboard-container" style="display: flex;flex-direction: column;">
    {% if user.is_authenticated %}
    <h1>Accuracy throughout the questions</h1>
    <div id="container"></div>
    {% endif %}
</div>
<script>
    function getData() {
        var data = []
        const backendData = "{{data}}"
        mydata = backendData.split(",")
        let st = 3
        do {
            let num = parseInt(mydata[st], 10);
            data.push(num)
            st += 5;
        } while (st < mydata.length)
        var finalData = []
        for (let i = 1; i <= data.length; i++) {
            finalData.push([i, data[i]])
        }
        return finalData;
    }
    var dataSet = anychart.data.set(getData());
    var seriesData = dataSet.mapAs({ x: 0, value: 1 });
    var chart = anychart.line();
    chart.title('Accuracy vs Question');
    chart.yAxis().title('% of Accuracy');
    var lineChart = chart.line(seriesData);
    chart.container('container');
    chart.draw();
</script>
{% endblock %}